$body-font: 'Lato', sans-serif;

$dark-blue: #061e32;
$orange: #fe5e4a;


$breakpoints:(
        xs: 480px,
        sm:576px,
        md:768px,
        lg:992px,
        xl:1200px,
        xxl:1400px,
        xxxl:1600px
);

